{% extends 'base.html' %}
{% block title %}Overview{% endblock %}
{% block content %}
<div class="columns">
    <div class="column">
            <nav class="panel">
                <p class="panel-heading">
                    Statistics
                </p>
                <div class="panel-block">
                    <canvas id="overview-chart"></canvas>
                </div>
            </nav>
        </div>
<div class="column">
    <nav class="panel">
        <p class="panel-heading">
            Most recent coffee logs
        </p>
        <div class="panel-block">
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th>Log ID</th>
                        <th>User</th>
                        <th>Logged at</th>
                        <th>With milk?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in recent %}
                        <tr>
                            <td>{{ log[0] }}</td>
                            <td>{{ log[5] }}</td>
                            <td>{{ log[2] }}</td>
                            <td>{{ 'Yes' if log[3] else 'No' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </nav>
</div>
</div>
<script>
    var ctx = document.getElementById("overview-chart").getContext('2d')
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    {% for row in counts %}
                        {{ row[1] }},
                    {% endfor %}
                ],
                backgroundColor: [ '#247BA0', '#70C1B3', '#FF1654', '#B2DBBF', '#F3FFBD'],
            }],
            labels: [
                {% for row in counts %}
                    '{{ row[0] }}',
                {% endfor %}
            ],
        },
        options: {
            'animation.rotate': true,
        },
    })
</script>  
{% endblock %}